/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    
    
   }
   .nav-links a {
    color: #000;
   }
   /* LOGO */
   .logo {
    width:100px;
    color: #e35869;
    font-family:  sans-serif;
    font-size: 32px;
   }

   .online{
    color: #e35869;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: gray;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
   
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }

   header{
    width:100%;
    height:80px;
    background-color: #e35869;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
   }














   * {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 16%;
    
    margin:5px;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  img{
    width: 100%;
    height:80%;
      
  }


  .products{

    margin:15px;
  }

  .title{

    margin:20px;
  }

  .card{
    height: 350px;
    
  }

  .details{
    padding:10px;
    text-align: left;
    align-items: left;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #45484b;
    line-height: 20px;
  }

  .aa,.cc{
    font-size: 16px;
    font-style:bold;
  }




  .card img{
    transition: 1s ease;
    }
    
    .card img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    }

    


    
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    text-align: center;
    background-color: #fafafa;
  }